# Kconfig settings for compiling and running the micro-controller code
# in a Linux process

if MACH_LINUX

config LINUX_SELECT
    bool
    default y
    select HAVE_GPIO
    select HAVE_GPIO_ADC
    select HAVE_GPIO_SPI
    select HAVE_GPIO_BITBANGING if SIMULATOR

config BOARD_DIRECTORY
    string
    default "linux"

config CLOCK_FREQ
    int
    default 8000000 if SIM_MACH_atmega2560_8
    default 20000000 if !SIM_MACH_atmega2560_8

config SIMULATOR
    bool "Compile for target software simulator"
    default n
    help
        Compile the target simulator code. Simulated
        results are sent back to host.

choice
    prompt "Simulated processor model"
    depends on SIMULATOR
    config SIM_MACH_atmega2560
        bool "atmega2560"
    config SIM_MACH_atmega2560_8
        bool "atmega2560 8MHz"
    config SIM_MACH_sam3x8e
        bool "sam3x8e"
    config SIM_MACH_lpc176x
        bool "lpc176x"
    config SIM_MACH_esp32
        bool "esp32"
endchoice

config MCU
    string
    depends on SIMULATOR
    default "linux" if !SIMULATOR
    default "atmega2560" if SIMULATOR && (SIM_MACH_atmega2560 || SIM_MACH_atmega2560_8)
    default "sam3x8e" if SIMULATOR && SIM_MACH_sam3x8e
    default "lpc176x" if SIMULATOR && SIM_MACH_lpc176x
    default "esp32" if SIMULATOR && SIM_MACH_esp32

config ADC_MAX_VALUE
    int
    default 4095 if !SIMULATOR
    default 4095 if SIMULATOR && (SIM_MACH_sam3x8e || SIM_MACH_lpc176x || SIM_MACH_esp32)
    default 1023 if SIMULATOR && (SIM_MACH_atmega2560 || SIM_MACH_atmega2560_8)

endif
